<h1>About Me</h1>
<p>I'm a full stack developer based in New York City. I've built applications using Ruby, Rails, JavaScript, React and Redux. In my past life, I was a teacher, focusing on subjects such as Computer Science, Biology and Chemistry. I'm especially interested in the intersection between technology and education.</p>
